header {
    width: 100%;
    height: 100px;
    background-color: black;
}
h1 {
    color: azure;
    font-size: 50px;
    border-bottom: 3px double #0097A7;
    padding: 3px;
}


footer{
    width: 100%;
    height: 80px;
    background-color: black;
    position: relative;
}
.time {
    position: absolute;
    left: 30px;
    color: aliceblue;
}
.timeinput {
    position: absolute;
    left: 35px;
    top: 35px;
}

.button {
    width: 60px;
    height: 30px;
    color:#0097A7;
    background-color:aliceblue  ;
    position: absolute;
    top: 20px;
    left: 150px;
}

/* .root1 {
    position: relative;
    margin: 2em 0;
    padding: 25px 10px 7px;
    border: solid 2px #6495ed;
    width: 300px;
} */
/* .root1 .box-title {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #6495ed;
    color: #ffffff;
}
.root1 p {
    margin: 0; 
    padding: 0;
} */


/* .shuttlebus{
    font-size: 10px;
}
.traindir{
    font-size: 10px;
} */
/* .span1 {
    font-size: 40px;
}
.span2{
    font-size: 15px;
} */