header {
    width: 100%;
    height: 70px;
    background-color: black;
    color: azure;
    font-size: 50px;
    border-bottom: 8px double #0097A7;
    padding: 3px;
    text-align: center;
    margin: auto;
}

#flex_test-box {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
}

#routebox {
    padding: 0.5em 1em;
    margin: 2em 0;
    padding-left: 10px;
    font-weight: bold;
    border: solid 2px #dcdcdc;
    margin: 0 auto;
    margin-top: -10px;
    margin-right: 0px;
}

#route-select {
    font-size: 10px;
    margin-top: -4px;
}

#route {
    margin-top: -10px;
}

#timebox {
    padding: 0.5em 1em;
    margin: 2em 0;
    padding-left: 10px;
    font-weight: bold;
    border: solid 2px #dcdcdc;
    margin-bottom: 150px;
    margin: 0 auto;
    margin-top: -10px;
    margin-left: 0px;
}

#time-select {
    font-size: 10px;
    margin-top: -5px;
}

#time_search {
    margin-top: -30px;
}

#timetable_list {
    display: flex;
    flex-direction: column;
}

#timetablebox {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #0097A7;
    width: 270px;
    margin: auto;
    margin-top: 40px;
}

#tab_wrapper {
    position: absolute;
    display: flex;
    column-gap: 3px;
    top: -27px;
    left: -3px;
}

#timetablebox .tab {
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #0097A7;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    cursor: pointer;
}

#tab_wrapper .tab_back {
    background: #ffffff;
    color: #0097A7;
    border: solid 3px #0097A7;
    border-bottom: none;
}

#weatherbox {
    padding: 0.5em 1em;
    margin: 2em 0;
    padding-left: 10px;
    font-weight: bold;
    height: 120px;
    width: 140px;
    border: solid 2px #a9a9a9;
    margin: auto;
    margin-top: 30px;
}

#weather_icon {
    width: 50px;
    height: 50px;
}

#today {
    border-bottom: solid 2px #0097A7;
    padding-left: 30px;
    width: 110px;
}

#weather {
    padding-left: 50px;
}